body {
    background-image: url("./img/rock.jpg");

}
#content {

    background-image: url("./img/paper.jpg");
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 1024px;
}

#header {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 1024px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 200%;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}