body
{
	background: url('img/stone.jpg') no-repeat center 0;
	background-color:#000000;
}

#top-image {
    padding: 0;
    margin: 0;
    background-image: url('img/top-image.png');  
    margin-left: auto;
    margin-right: auto;
    width: 1014px;
    height: 157px
}

#content {
    padding: 0;
    margin-top: -32px;
    background-image: url("./img/content-back.png");
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat-y;
    height: 800px;
    width: 989px;
}

#header {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 1024px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 200%;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}